<div class="mt-4 container">
    <h3 class="text">Create courses</h3>
    <form method="POST" action="/courses/store" class="'formm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control" id="name" name="description">
        </div>
        <div class="form-group">
            <label for="name">ID Video</label>
            <input type="text" class="form-control" id="name" name="idv">
        </div>
        <div class="form-group">
            <label for="name">Link img</label>
            <input type="text" class="form-control" id="name" name="image">
        </div>
        <div class="form-group">
            <label for="name">Level</label>
            <input type="text" class="form-control" id="name" name="level">
        </div>
        <div class="form-group">
            <label for="name">Instructor</label>
            <input type="text" class="form-control" id="name" name="instructor">
        </div>

        <button class="submit-btn">Submit</button>

    </form>
</div>