<div class="container">
    <form method="POST">
    <!-- Name input -->
    <div class="form-outline mb-4">
        <input type="text" name="q" id="form5Example1" class="form-control" />
        <label class="form-label" for="form5Example1">Enter letter</label>
    </div>

    <select name="gender" class="form-outline mb-4">
        <option value="">Select sex</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Search</button>
    </form>
</div>